@model Portafolio.Models.BD1.Usuario
@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/Home.css" asp-append-version="true" />

@if (Model != null)
{

    <div class="container unir">
        <div class="Componente1">
            <img src="@Model.ImgUsuario" alt="Iamgen de perfil" id="ImgUsuario" />
        </div>
        <div class="Componente2">

            <h2>@Model.Nombre @Model.ApellidoPaterno @Model.ApellidoMaterno</h2>
            <h5>Especialidad en @ViewBag.Especialidad</h5>
            <p>Edad: @ViewBag.Edad años. Teléfono: @Model.Telefono.</p>
            
            <br />
            <h5>Experiencia en:</h5>
            <img src="/img/Tecnologias.png" id="Tecnologias" />

        </div>



    </div>


    if (ViewBag.titulo != null && ViewBag.Descripcion != null)
    {
        <div class="row justify-content-center text-center bg-black">
            <div class="col col-md-7 seccion-bienvenida">
                <h3 id="TituloInfoHome">@ViewBag.titulo</h3>
                 <p>@ViewBag.Descripcion</p>
            </div>
        </div>
     
    }
    else
    {
        <a asp-action="InformacionHome" asp-controller="Perfil">Agregar informacion a Home</a>
    }
}
else
{
    <p>Bienvenido</p> 
}

